# Données
data/


# MLflow
mlruns/

# Modèles exportés
models/
reports/

# Python
__pycache__/
*.pyc

# Notebooks
.ipynb_checkpoints/

# Environnement
.env
.venv

catboost_info
mlflow.db

artifacts


.coverage
htmlcov/
.pytest_cache/
.coverage.*

app/assets

build/
dist/
prod_logs/

examples/X_api.csv
.vscode/